:root {
    --background-color: #FFFFFF;
    --benday-color: #c7bfbf;
    --primary-color: #000000;
    --text-color: #black;
    --dropdown-hover: #c7bfbf;
}

body.dark-mode {
    --background-color: #121212;
    --benday-color: #2A2A2A;
    --primary-color: #BB86FC;
    --text-color: #FFFFFF;
    --dropdown-hover: #BB86FC;
}